<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadenza</title>
    <script src="https://kit.fontawesome.com/99352e98c2.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="css/music.css">
</head>
{{#each song}}
    {{#if song_name}}
        <body onload='getlength("{{song_link}}");'>
            <div class="navbar">
                <div>
                    <form action="/home" method="post">
                        <button><img src="./images/cadenza logo.png" alt="logo" class="logo"></button>
                    </form>
                </div>
                <div class="search">
                    <input type="search" class="search-box" placeholder="&#xf3eb; Search" style="font-family: 'FontAwesome';font-style: 'normal'; font-weight:900;">
                </div>
                <div>
                    <form method="post" action="/getlyrics">
                        <button class="lyrics">Lyrics</button>
                        <input type="hidden" value="{{song_id}}" name="id">
                    </form>
                </div>
            </div>
            <main>
                <div class="main">
                    <h1>{{song_name}}</h1><br>
                    <div class="text">
                        Artist: {{artist_name}} <br>
                        Length:  <span id="length"></span><br>
                        Language: {{language}}<br>
                    </div>
                    <div class="player">
                        <div class="slider_container">
                            <div class="current-time">00:00</div>
                            <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
                            <div class="total-duration">00:00</div>
                        </div>
                        <div class="buttons">
                            <div class="prev-track"><form action="/newsong" method="post"><button><i class="fa fa-step-backward fa-2x"></i></button></form></div>
                            <div class="playpause-track" onclick="playpauseTrack('{{song_link}}')"><i class="fa fa-solid fa-play fa-3x"></i></div>
                            <div class="next-track"><form action="/newsong" method="post"><button><i class="fa fa-step-forward fa-2x"></i></button></form></div>
                        </div>
                    </div>
                </div>
                <div class="right1">
                    <div id="myModal" class="modal"></div>
                    <div class="music_image frame1">
                        <img src="{{song_pic_link}}" alt="albumpic" class="pic">
                    </div>
                </div>
                <div class="sidenav">
                    <span class="atext">More from the Artist</span>
                    <a href="#" class="sideinfo">Watermelon Sugar</a>
                    <a href="#" class="sideinfo">Sign of times</a>
                    <a href="#" class="sideinfo">Story of my life</a>
                    <a href="#" class="sideinfo">Adore you</a>
                </div>
            </main>
        </body>
    {{/if}}
{{/each}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="js/music.js"></script>
<script>
        const time=document.createElement('audio');

        function getlength(src){
            time.src=src;
            time.load();
            updateTimer = setInterval(seekUpda, 1000);
        }

        function seekUpda(){
            let length=document.getElementById("length");
            const min=Math.floor(time.duration/60);
            const sec=Math.floor(time.duration%60);
            if(sec<10){
                length.innerHTML=String(min + ":0" + sec);
            }else
                length.innerHTML=String(min + ":" + sec);
        }
</script>
</html>